<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JaxnodeWeb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B277A5FD1D3AE37C00F2962F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B277A6111D3AE37C00F2962F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B277A61C1D3AE37C00F2962F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
